/* ===== Font Prompt (Global) ===== */
body {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  /* background-color: rgb(79, 78, 78); */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

/* Small / muted text */
.text-muted {
  font-weight: 300;
}

/* Button */
.btn {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

/* Form */
.form-control,
.form-select {
  font-family: 'Prompt', sans-serif;
}
