/* ===== Import Shared Styles ===== */
@import './assets/shared-styles.css';

/* ===== Font Prompt (Global) ===== */
body {
  font-family: 'Prompt', sans-serif;
  font-weight: 400;
  /* background-color: rgb(79, 78, 78); */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

/* Small / muted text */
.text-muted {
  font-weight: 300;
}

/* Button */
.btn {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

/* Form */
.form-control,
.form-select {
  font-family: 'Prompt', sans-serif;
}

/* ===== Responsive Utilities ===== */
@media (max-width: 576px) {
  /* Extra small devices */
  html {
    font-size: 12px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* Small devices (landscape phones) */
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  /* Large devices */
  html {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  /* Extra large devices */
  html {
    font-size: 18px;
  }
}
